:root{
  --primaryFont:"Montserrat", system-ui;
  --secFont:"Fraunces", serif;

  --Darkcyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --verydarkblue: hsl(212, 21%, 14%);
  --Darkgrayishblue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);

}
*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
html,
body{
  height: 100%;
}
body{
  font-family: var(--primaryFont);
  font-weight: 300;
  background: var(--Cream);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--secFont);
  font-weight: 700;
  margin-bottom: 15px;

}
p{
  font-weight: 300;
  margin-bottom: 15px;
}
img{
  max-width: 100%;
}
.card{
  width: 600px;
  display: flex;
}
.card_img{
  flex-basis: 50%;
}
.card_img img.desktop{
  border-radius: 10px 0 0 10px;
  display: block;
}
.card_img img.mobile{
  border-radius: 10px 10px 0 0;
  display: none;
}
.card_body{
  flex-basis: 50%;
  background: var(--White);
  border-radius: 0 10px 10px 0;
}
